Flask~=3.0.3
python-dotenv~=1.0.1
SQLAlchemy~=2.0.35
pandas~=2.2.3
pycryptodome~=3.20.0
click~=8.1.7
Flask-Migrate~=4.0.7
Werkzeug~=3.0.4
redis~=5.1.1
Flask-CORS==3.1.13
PyJWT~=2.9.0
requests~=2.32.3
